{% extends 'base.html.twig' %}

{% block title %}Hello NoticiaController!{% endblock %}

{% block body %}
    {%include 'menu.html.twig' %}
    <h2 class="titulo">Noticias y Alertas</h2>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for noticia in noticias %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top rounded-2" src="/imagenes/img_noticias/{{noticia.imagen}}" width="100%" height="225">
            <div class="card-body">
            <h5 class="card-title">{{noticia.titulo}}</h5>
              <p class="card-text">{{noticia.descripcion}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{ path("ver_noticia",{id:noticia.id})}}"><button type="button" class="btn btn-sm btn-outline-secondary">Ver</button></a>
                </div>
                <small class="text-muted">{{noticia.fechaCreacion | date("d/m/Y")}}</small>
              </div>
            </div>
          </div>
        </div>
        {%  endfor %}
      </div>
    </div>
  </div>

    {%include 'footer.html.twig' %} 
{% endblock %}
