{% extends 'base.html.twig' %}

{% block title %}Hello NoticiaController!{% endblock %}

{% block body %}
    {%include 'menu.html.twig' %}
    
        <style>
        .contenedor {
            padding: 60px;
            width: 87%;
            max-width: 100%;
            margin: 0 auto; 
        }

    </style>
    {% set contadorElectrica = 0 %}{% set contadorGas = 0 %}{% set contadorAgua = 0 %}
    {% set contadorTelefono = 0 %}{% set contadorInternet = 0 %}{% set contadorCirculacion = 0 %}
    {% set contadorResiduos = 0 %}{% set contadorMobiliario_Urbano = 0 %}{% set contadorParques_y_Jardines = 0 %}
    {% set contadorSenalizacion = 0 %}{% set contadorMantenimiento = 0 %}{% set contadorAceras_y_Calzadas = 0 %}
    {% set contadorVandalismo = 0 %}{% set contadorPlagas_de_insectos_y_otros = 0 %}{% set contadorOtras_Averias = 0 %}
    {% set contadorTotal = 0 %}
        {% for incidencia in mis_incidencias %}
            {% set contadorTotal = contadorTotal + 1 %}
            {% if incidencia.averia.id == 1 %}{% set contadorElectrica = contadorElectrica + 1 %}{% endif %}
            {% if incidencia.averia.id == 2 %}{% set contadorGas = contadorGas + 1 %}{% endif %}
            {% if incidencia.averia.id == 3 %}{% set contadorAgua = contadorAgua + 1 %}{% endif %}
            {% if incidencia.averia.id == 4 %}{% set contadorTelefono = contadorTelefono + 1 %}{% endif %}
            {% if incidencia.averia.id == 5 %}{% set contadorInternet = contadorInternet + 1 %}{% endif %}
            {% if incidencia.averia.id == 6 %}{% set contadorCirculacion = contadorCirculacion + 1 %}{% endif %}
            {% if incidencia.averia.id == 8 %}{% set contadorResiduos = contadorResiduos + 1 %}{% endif %}
            {% if incidencia.averia.id == 9 %}{% set contadorMobiliario_Urbano = contadorMobiliario_Urbano + 1 %}{% endif %}
            {% if incidencia.averia.id == 10 %}{% set contadorParques_y_Jardines = contadorParques_y_Jardines + 1 %}{% endif %}
            {% if incidencia.averia.id == 11 %}{% set contadorSenalizacion = contadorSenalizacionc + 1 %}{% endif %}
            {% if incidencia.averia.id == 12 %}{% set contadorMantenimiento = contadorMantenimiento + 1 %}{% endif %}
            {% if incidencia.averia.id == 13 %}{% set contadorAceras_y_Calzadas = contadorAceras_y_Calzadas + 1 %}{% endif %}
            {% if incidencia.averia.id == 14 %}{% set contadorVandalismo = contadorVandalismo + 1 %}{% endif %}
            {% if incidencia.averia.id == 15 %}{% set contadorPlagas_de_insectos_y_otros = contadorPlagas_de_insectos_y_otros + 1 %}{% endif %}
            {% if incidencia.averia.id == 16 %}{% set contadorOtras_Averias = contadorOtras_Averias + 1 %}{% endif %}
        {%  endfor %}
        <h2 class="titulo">Grafica y Análisis</h2>
        <div class="contenedor">
        <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-warning border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-warning fw-bold">
                                Electrica</div>
                            <div class="fw-light">Nº {{ contadorElectrica }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Electrica .svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-danger border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-danger fw-bold">
                                Gas</div>
                            <div class="fw-light">Nº {{ contadorGas }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Gas.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-info border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-info fw-bold">
                                Agua</div>
                            <div class="fw-light">Nº {{ contadorAgua }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Agua.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-warning border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-warning fw-bold">
                                Teléfono</div>
                            <div class="fw-light">Nº {{ contadorTelefono }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Telefono.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-secondary border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-secondary fw-bold">
                                Internet</div>
                            <div class="fw-light">Nº {{ contadorInternet }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Internet.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-danger border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-danger fw-bold">
                                Circulacion</div>
                            <div class="fw-light">Nº {{ contadorCirculacion }}</div>
                        </div>
                        <div class="col-auto">
                           <img src="/imagenes/iconos/Circulacion.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-success border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-success fw-bold">
                                Residuos</div>
                            <div class="fw-light">Nº {{ contadorResiduos }}</div>
                        </div>
                        <div class="col-auto">
                             <img src="/imagenes/iconos/Residuos.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-primary border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-primary fw-bold">
                                Mobiliario Urbano</div>
                            <div class="fw-light">Nº {{ contadorMobiliario_Urbano }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Mobiliario Urbano.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-success border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-success fw-bold">
                            Parques y Jardines</div>
                            <div class="fw-light">Nº {{ contadorParques_y_Jardines }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Parques y Jardines.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-primary border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-primary fw-bold">
                                Señalizacion</div>
                            <div class="fw-light">Nº {{ contadorSenalizacion }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Señalizacion.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-warning border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-warning fw-bold">
                                Mantenimiento</div>
                            <div class="fw-light">Nº {{ contadorMantenimiento }}</div>
                        </div>
                        <div class="col-auto">
                           <img src="/imagenes/iconos/Mantenimiento.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-dark border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-dark fw-bold">
                                Aceras y Calzadas</div>
                            <div class="fw-light">Nº {{ contadorAceras_y_Calzadas }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Aceras y Calzadas.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-info border-4 rounded">
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-info fw-bold">
                                Vandalismo</div>
                            <div class="fw-light">Nº {{ contadorVandalismo }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Vandalismo.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-success border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-success fw-bold">
                                Plagas</div>
                            <div class="fw-light">Nº {{ contadorPlagas_de_insectos_y_otros }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Plagas de insectos y otros.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="border-start border-warning border-4 rounded" >
                <div class="card-body border border-2 rounded">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-warning fw-bold">
                                Otras Averias</div>
                            <div class="fw-light">Nº {{ contadorOtras_Averias }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="/imagenes/iconos/Otras Averias.svg" height="25px" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
         
        <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nº Tipología</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Electrica<span
                            {% set contadorElectrica = contadorElectrica / contadorTotal * 100 %}
                            class="float-right"> {{ contadorElectrica | round}}% </span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ contadorElectrica | round}}%"
                            aria-valuenow="hola" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Electrica .svg" height="15px" alt="..." />
                    </div>
                    <h4 class="small font-weight-bold">Gas <span
                            {% set contadorGas = contadorGas / contadorTotal * 100 %}
                            class="float-right">{{ contadorGas | round}}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: {{ contadorGas | round}}%"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Gas.svg" height="15px" alt="..." />
                    </div>
                    <h4 class="small font-weight-bold">Agua <span
                            {% set contadorAgua = contadorAgua / contadorTotal * 100 %}
                            class="float-right">{{ contadorAgua | round}}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ contadorAgua | round}}%"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Agua.svg" height="15px" alt="..." />
                    </div>
                    <h4 class="small font-weight-bold">Telefono <span
                            {% set contadorTelefono = contadorTelefono / contadorTotal * 100 %}
                            class="float-right">{{ contadorTelefono | round}}%</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ contadorTelefono | round}}%"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Telefono.svg" height="15px" alt="..." />
                    </div>
                    <h4 class="small font-weight-bold">Internet <span
                            {% set contadorTelefono = contadorTelefono / contadorTotal * 100 %}
                            class="float-right">{{ contadorInternet | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" style="width: {{ contadorInternet | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Internet.svg" height="15px" alt="..." />
                    </div>
                            <br><h4 class="small font-weight-bold">Circulacion <span
                            {% set contadorCirculacion = contadorCirculacion / contadorTotal * 100 %}
                            class="float-right">{{ contadorCirculacion | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: {{ contadorCirculacion | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Circulacion.svg" height="15px" alt="..." />
                    </div>        
                    <br><h4 class="small font-weight-bold">Residuos <span
                            {% set contadorResiduos = contadorResiduos / contadorTotal * 100 %}
                            class="float-right">{{ contadorResiduos | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ contadorResiduos | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Residuos.svg" height="15px" alt="..." />
                    </div> 
                    <br><h4 class="small font-weight-bold">Mobiliario Urbano <span
                            {% set contadorMobiliario_Urbano = contadorMobiliario_Urbano / contadorTotal * 100 %}
                            class="float-right">{{ contadorMobiliario_Urbano | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: {{ contadorMobiliario_Urbano | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Mobiliario Urbano.svg" height="15px" alt="..." />
                    </div>
                    <br><h4 class="small font-weight-bold">Parques y Jardines <span
                            {% set contadorParques_y_Jardines = contadorParques_y_Jardines / contadorTotal * 100 %}
                            class="float-right">{{ contadorParques_y_Jardines | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ contadorParques_y_Jardines | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Parques y Jardines.svg" height="15px" alt="..." />
                    </div>            
                    <br><h4 class="small font-weight-bold">Señalizacion <span
                            {% set contadorSenalizacion = contadorSenalizacion / contadorTotal * 100 %}
                            class="float-right">{{ contadorSenalizacion | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: {{ contadorSenalizacion | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Señalizacion.svg" height="15px" alt="..." />
                    </div>  
                    <br><h4 class="small font-weight-bold">Mantenimiento <span
                            {% set contadorMantenimiento = contadorMantenimiento / contadorTotal * 100 %}
                            class="float-right">{{ contadorMantenimiento | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ contadorMantenimiento | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Mantenimiento.svg" height="15px" alt="..." />
                    </div>
                    <br><h4 class="small font-weight-bold">Aceras y Calzadas <span
                            {% set contadorAceras_y_Calzadas = contadorAceras_y_Calzadas / contadorTotal * 100 %}
                            class="float-right">{{ contadorAceras_y_Calzadas | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ contadorAceras_y_Calzadas | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                           <img src="/imagenes/iconos/Aceras y Calzadas.svg" height="15px" alt="..." /> 
                    </div>
                    <br><h4 class="small font-weight-bold">Vandalismo <span
                            {% set contadorVandalismo = contadorVandalismo / contadorTotal * 100 %}
                            class="float-right">{{ contadorVandalismo | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: {{ contadorVandalismo | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Vandalismo.svg" height="15px" alt="..." />
                    </div> 
                    <br><h4 class="small font-weight-bold">Plagas de insectos y otros <span
                            {% set contadorPlagas_de_insectos_y_otros = contadorPlagas_de_insectos_y_otros / contadorTotal * 100 %}
                            class="float-right">{{ contadorPlagas_de_insectos_y_otros | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ contadorPlagas_de_insectos_y_otros | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Plagas de insectos y otros.svg" height="15px" alt="..." />
                    </div>
                    <br><h4 class="small font-weight-bold">Otras Averias <span
                            {% set contadorOtras_Averias = contadorOtras_Averias / contadorTotal * 100 %}
                            class="float-right">{{ contadorOtras_Averias | round}}%</span></h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ contadorOtras_Averias | round}}%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            <img src="/imagenes/iconos/Otras Averias.svg" height="15px" alt="..." />
                    </div>         
                </div>
        </div>
                        
                        </div>
    {%include 'footer.html.twig' %} 
{% endblock %}