{% extends 'base.html.twig' %}

{% block title %}Hello IncidenciaController!{% endblock %}

{% block body %}
    
    <style>
        .contenedor {
            padding: 60px;
            width: 87%;
            max-width: 100%;
            margin: 0 auto; 
        }
    </style>
    {%include 'menu.html.twig' %}
<div class="contenedor">
        <div class="row">
            {% for incidencia in mis_incidencias %}
            <div class="card m-2" style="max-width: 500px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/imagenes/img_incidencias/{{incidencia.imagen}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{{ path("ver_incidencia",{id:incidencia.id}) }}">{{ incidencia.titulo }}</a></h5>
                      <p class="card-text">{{incidencia.descripcion}}</p>
                      <hr>
                      <p class="card-text">Tipología: <small class="text-muted">{{incidencia.averia.nombre}}</small></p>
                        <li class="list-group-item">
                            <a class="btn btn-secondary mb-1" data-bs-toggle="offcanvas" 
                            href="#offcanvasExample{{incidencia.id}}" role="button" aria-controls="offcanvasExample">
                            <i class="fa-solid fa-message"></i> Ver Comentarios</a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nuevo comentario..."/>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </div>
                        </li>
                    </div>
                  </div>
                </div>
            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample{{incidencia.id}}" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><i class="fa-solid fa-message"></i> Comentarios</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            {% for comentario in incidencia.comentarios %} 
                            <p>{{comentario.texto}}</p>
                            {%  endfor %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nuevo comentario..."/>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>                
            {%  endfor %}
        </div>     
</div>
{% endblock %}
