{% extends 'base.html.twig' %}

{% block title %}Nueva Incidencia{% endblock %}

{% block body %}

{{ form_start(form_incidencia) }}
    <input type="text" name="titulo" placeholder="Titulo..." ><br>
    <textarea name="descripcion" placeholder="Descripción..."></textarea><br>
    <input type="text" name="codigo" placeholder="Código Postal..."><br>
    Gravedad:
    <select name="gravedad">
        <option value="Leve">Leve</option>
        <option value="Grave">Grave</option>
        <option value="Imprescindible">Imprescindible</option>
    </select><br>
    <label for="myfile">Foto:</label>
    {{ form_row(form_incidencia.imagen) }}
    <div id="mapa"></div><br>
    Latitud:<input type="text" name="latitud" id="lat" value=""><br>    
    Longitud:<input type="text" name="longitud" id="long" value=""><br>
    <select name="averia">
    {% for averia in tiposDeAverias %}
        <option value="{{averia.id}}">{{averia.nombre}}</option>    
    {%  endfor %}
    </select><br>
    {{ form_end(form_incidencia) }}
{% endblock %}    
    