{# empty Twig template #}

{% extends 'base.html.twig' %}


{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {%include 'menu.html.twig' %}
    <link rel="stylesheet" href="/css/style_Inicio.css" />
    <div class="contenedor">
    <main>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Servicios</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img1.jpg" alt="">
                        <a href="{{ path("app_incidencia") }}" class="text-white"> 
                        <div class="hover-galeria" title="Ver incidencias">
                            <i class="fa-solid fa-eye"> <i class="fa-solid fa-location-crosshairs"></i></i>
                            <p>Incidencias Zona</p>
                        </div>
                        </a>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img2.jpg" alt="">
                        <a href="{{ path("add_incidencia") }}" class="text-white"> 
                        <div class="hover-galeria" title="Nueva Incidencia">
                            <i class="fa-solid fa-plus "> <i class="fa-solid fa-triangle-exclamation"></i></i>
                            <p>Nueva Incidencia</p>
                        </div>
                        </a>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img3.jpg" alt="">
                        <a href="{{ path("app_incidenciaMias") }}" class="text-white">
                        <div class="hover-galeria" title="Mis Incidencia">
                            <i class="fa-solid fa-eye"> <i class="fa-solid fa-person-circle-exclamation"></i></i>
                            <p>Mis Incidencias</p>
                        </div>
                        </a>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img1.jpg" alt="">
                        <a href="{{ path("ver_marcadores") }}" class="text-white">
                        <div class="hover-galeria" title="Marcadores Mapa">
                            <i class="fa-solid fa-map-location-dot"> <i class="fa-solid fa-earth-americas"></i></i>
                            <p>Marcadores Mapa</p>
                        </div>
                        </a>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img4.jpg" alt="">
                        <a href="{{ path("add_noticia") }}" class="text-white">
                        <div class="hover-galeria">
                            <i class="fa-solid fa-newspaper"> <i class="fa-solid fa-circle-exclamation"></i></i>
                            <p>Noticias y Alertas</p>
                        </div>
                        </a>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img5.jpg" alt="">
                        <a href="{{ path("ver_graficas") }}" class="text-white">
                        <div class="hover-galeria">
                            <i class="fa-solid fa-chart-column"> <i class="fa-solid fa-chart-line"></i></i>
                            <p>Graficas y Nº de Incidencias</p>
                        </div>
                        </a>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img6.jpg" alt="">
                        <a href="{{ path("app_ayuda") }}" class="text-white">
                        <div class="hover-galeria">
                            <i class="fa-solid fa-user"> <i class="fa-solid fa-circle-info"></i> </i>
                            <p>Ayuda Usuario</p>
                        </div>
                        </a>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/img_web/img7.jpg" alt="">
                        <a href="{{ path("app_contacta") }}" class="text-white">
                        <div class="hover-galeria">
                            <i class="fa-solid fa-user-gear"> <i class="fa-solid fa-comment-dots"></i> </i>
                            <p>Contacta con Nosotros</p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <br><br><br>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">¿Qué es la gestión de incidencias?</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/imagenes/img_web/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                  <br>
                    <h3><span>1</span>En que consiste</h3>
                    <p>Muchas veces pasamos por la calle y vemos muchos desperfectos, 
                      tales como, señales de tráfico pintadas, aceras en mal estado, 
                      papeleras en el suelo; así como muchos ejemplos más, vamos pasando 
                      cada día por el mismo lugar y vemos que esa incidencia sigue ahí sin 
                      ninguna solución; y en algunos casos puede ser peligroso.</p>
                    <h3><span>2</span>Finalidad</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                        consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                        velit doloribus laboriosam ut.</p>
                </div>
            </div>
        </section>
        <br><br><br>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Acerca de Nosotros</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="/imagenes/img_web/ilustracion1.svg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/imagenes/img_web/ilustracion4.svg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="/imagenes/img_web/ilustracion3.svg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                    </div>
                </div>
            </div>
        </section>
    </main>  
        </div>
    {%include 'footer.html.twig' %}  
{% endblock %}