<link rel="stylesheet" href="/css/style_Menu.css" />
<header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DEE1E8;">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ path("inicio") }}" title="Inicio" ><img src="/imagenes/img_web/logo_sin_fondo_min.png" style="height:70px"/></a>
              <button id="btnMenu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                Menú
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path("inicio") }}"title="Inicio">Inicio</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h2 id="exampleModalLabel" class="modal-title text-primary">Servicios</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                               <section class="portafolio2">
                                    <div class="contenedor2">
                                        <div class="galeria-port2">
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img1.jpg" alt="">
                                                <a href="{{ path("app_incidencia") }}"> 
                                                <div class="hover-galeria2" title="Ver incidencias">
                                                    <p>Ver Incidencias</p>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img2.jpg" alt="">
                                                <a href="{{ path("add_incidencia") }}"> 
                                                <div class="hover-galeria2" title="Nueva Incidencia">
                                                    <p>Nueva Incidencia</p>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img3.jpg" alt="">
                                                <a href="{{ path("app_incidenciaMias") }}">
                                                <div class="hover-galeria2" title="Mis Incidencia">
                                                    <p>Mis Incidencias</p>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img1.jpg" alt="">
                                                <a href="{{ path("ver_marcadores") }}">
                                                <div class="hover-galeria2" title="Marcadores Mapa">
                                                    <p>Marcadores Mapa</p>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img4.jpg" alt="">
                                                <a href="{{ path("app_noticia") }}">
                                                <div class="hover-galeria2">
                                                    <p>Noticias y Alertas</p>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img5.jpg" alt="">
                                                <a href="{{ path("ver_graficas") }}">
                                                <div class="hover-galeria2">
                                                    <p>Graficas y Nº de Incidencias</p>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img6.jpg" alt="">
                                                <a href="{{ path("app_ayuda") }}">
                                                <div class="hover-galeria2">
                                                    <p>Ayuda Usuario</p>
                                                </div>
                                                </a>
                                            </div>
                                            <div class="imagen-port2">
                                                <img src="/imagenes/img_web/img7.jpg" alt="">
                                                <a href="{{ path("app_contacta") }}">
                                                <div class="hover-galeria2">
                                                    <p>Contacta con Nosotros</p>
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" title="Servicios" data-bs-target="#exampleModal" data-bs-toggle="modal" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Servicios
                    </a>
                  </li>
                </ul>
                <form class="d-flex">
                  <a href="{{ path("app_usuario") }}" class="form-text text-muted text-decoration-none" style="font-size: medium;" title="Ver Perfil">
                  <div id="foto_usuario" style="background-image: url(/imagenes/img_users/{{ app.user.imagen }});" ></div>
                  <div class="nombreUsu" >{{ app.user.nombre }} {{ app.user.apellidos }}<br>
                  <p style="font-size: xx-small;">Ver Perfil {% if app.user.rolUsuario == "admin_zona" %}<span class="text-success">(Administrador de Zona)</span>{% endif %}</p></a>
                  </div>
                  <a href="{{ path("logout") }}" title="Cerrar Sesión" style="font-size: x-small; text-decoration: none;" >Salir <i class="fa-solid fa-right-from-bracket"></i></a>
                </form>
              </div>
            </div>
          </nav>
        <section class="textos-header" id="titulo_gestion">
            <h1>GESTIÓN DE INCIDENCIAS</h1>
            <h3>Notifica cualquier tipo de problema,
                incidencia, averia, queja, reclamación,
                etc.</h3>
        </section>
        <a href="{{ path("inicio") }}" title="Inicio">
            <img src="/imagenes/img_web/logo_sin_fondo.png" id="logo" style="z-index: 20 !important;"/>
        </a>
        <div class="wave" style="z-index: 1 !important;">
          <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; z-index: 1 !important; ">  
                <path d="M0.00,49.98 C157.73,-46.86 360.32,179.13 501.41,79.45 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
          </svg>
        </div>


    </header>
<script>
document.getElementById("btnMenu").addEventListener('click',ocultar);

let logo=document.getElementById("logo");
let titulo_gestion = document.getElementById("titulo_gestion");

function ocultar(){
  if(logo.style.display === "none"){
    logo.style.display="block";
    titulo_gestion.style.display="block";
  }else{
    logo.style.display="none";
    titulo_gestion.style.display="none";
  }
}
</script> 